* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    padding: 20px;

    background-color: #052c65 !important;
}


.quiz-wrapper {
    max-width: 850px;
    width: 100%;

    border-radius: 12px;

    overflow: hidden;

    background-color: #ffffff;
    align-items: stretch;
}

.category-sidebar {
    min-width: 180px;
}

.category-sidebar .list-group-item {
    padding: 16px 20px;

    text-align: center;
    font-weight: 500;

    border: none;
}

.category-sidebar .list-group-item.active {
    background-color: #0d6efd;
    color: #ffffff;
}

.quiz-main-content img {
    align-self: center;

    width: 160px;

    padding: 16px;
    margin: 16px;

    border-radius: 0.375rem;

    background-color: rgb(5, 44, 101) !important;
}

.question-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid rgba(0, 0, 0, 0.1);

    padding: 16px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(117, 161, 228, 0.15);
}

.bg-success,
.bg-danger {
    color: white;
}

.card-body {
    padding: 16px;
}

.card-body:has(h3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    height: 400px;

    background-image: url(./icons/trophy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.new-game-button {
    align-self: flex-start;
    margin-top: 16px;
}